.idea
dunyadesktop_app/cultures/config.cfg
dunyadesktop_app/config.cfg
dunyadesktop_app/ui_files/makam_main_design.py
dunyadesktop_app/makam_demo.py
audio
test
.Python
pitchfilter.egg-info/
*.pyc
*.*~
*.wav
.ipynb_checkpoints
.DS_Store
dunyadesktop_app/cultures/documents
dunyadesktop_app/cultures/scores
db.sqlite

docs_source/build
resources/bootstrap-sphinx.css